<p>

    <a href="@Url.Action("Create", "Movie")">Create New</a>"
    Genre: @Html.TextBox("String")
    Title: @Html.TextBox("String")
    ReleaseDate: @Html.TextBox("String")
    Price: @Html.TextBox("String")
    <input type="submit" value="Submit" />
</p>
